@tailwind base; @tailwind components; @tailwind utilities;
body { background-color: #141414; color: white; font-family: 'Inter', sans-serif; }
/* Scrollbar customizada */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #141414; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #E50914; }